.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  --color: $primaryColor;
  &__content {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & svg {
      width: 100%;
      padding: 0 26px;
    }
  }
  &__download {
    color: $primaryColor;
    text-transform: uppercase;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: clamp(14px,2vw, 16px);
    text-align: center;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}
