.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing__title {
  font-size: min(12vw, 96px);
  font-weight: 700;
  text-align: center;
  font-family: "New Spirit", sans-serif;
  color: $primaryColor;
  padding-top: 25vh;
  @media screen and (max-width: 576px) {
    padding-top: 20vh;
  }
}
